<header>
    <div class="wrapper">
            <!--header menu start-->
            <div class="header">
                <div class="header-menu">
                    <div class="title"><span><i class="fa-solid fa-user-secret"></i></span>Admin Panel</div>
                    <div class="sidebar-btn">
                        <i class="fas fa-bars"></i>
                    </div>
                    <ul>
                        <li><a href="#"><i class="fas fa-search"></i></a></li>
                        <li><a href="#"><i class="fas fa-bell"></i></a></li>
                        <li><a href="/admin/adminLogin"><i class="fas fa-power-off"></i></a></li>
                    </ul>
                </div>
            </div>
            <!--header menu end-->
            <!--sidebar start-->
            <div class="sidebar">
                <div class="sidebar-menu">
                    <center class="profile">
                        <img src="/images/avatar.jpg" alt="">
                        <p>Admin Name</p>
                    </center>
                    <li class="item">
                        <a href="/admin" class="menu-btn">
                            <i class="fas fa-desktop"></i><span>Dashboard</span>
                        </a>
                    </li>
                    <li class="item" id="users">
                        <a href="#users" class="menu-btn">
                            <i class="fa-solid fa-users"></i><span>Manage Users <i class="fas fa-chevron-down drop-down"></i></span>
                        </a>
                        <div class="sub-menu">
                            <a href="/admin/view-users"><span>View Users</span></a>
                            <a href="/admin/blocked-users"><span>Blocked Users</span></a>
                        </div>
                    </li>
                  
                    <li class="item" id="offers">
                        <a href="#offers" class="menu-btn">
                            <i class="fa-solid fa-tag"></i><span>Manage Offers <i class="fas fa-chevron-down drop-down"></i></span>
                        </a>
                        <div class="sub-menu">
                            <a href="/admin/product-offer"><span>Product Offers</span></a>
                            <a href="#"><span>Coupon Codes</span></a>
                        </div>
                    </li>
                    <li class="item" id="report">
                        <a href="#report" class="menu-btn">
                            <i class="fa-solid fa-paste"></i><span>Report <i class="fas fa-chevron-down drop-down"></i></span>
                        </a>
                        <div class="sub-menu">
                            <a href="#"><span>Product Report</span></a>
                            <a href="#"><span>Order Report</span></a>
                            <a href="#"><span>Sales Report</span></a>
                        </div>
                    </li>
                    <li class="item">
                        <a href="/admin/view-products" class="menu-btn">
                            <i class="fa-solid fa-boxes"></i><span>Manage Products</span>
                        </a>
                    </li>
                    <li class="item">
                        <a href="/admin/allOrders" class="menu-btn">
                            <i class="fa-solid fa-images"></i><span>Manage Orders</span>
                        </a>
                    </li>
                    <li class="item">
                        <a href="/admin/category" class="menu-btn">
                            <i class="fa-solid fa-globe"></i><span>Manage Category</span>
                        </a>
                    </li>
                </div>
            </div>
            <!--sidebar end-->
          
        </div>
        <!--wrapper end-->
</header>

<!--<script type="text/javascript">
        $(document).ready(function(){
            $(".sidebar-btn").click(function(){
                $(".wrapper").toggleClass("collapse");
            });
        });
        </script>-->






























