<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light py-1 fixed-top">
 <div class="container">
    <a class="navbar-brand" href="/">Walk-in Style.</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span><i id="bar" class="fa-solid fa-bars"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav" style="margin-left: 140px;">
       <!-- <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li> -->
          <li class="nav-item">
          <a class="nav-link" href="/men">Men</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="/women">Women</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="/kids">Kids</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
         <li class="nav-item">
          <a href="/wishlist"><i class="fa-solid fa-heart"></i></a>
          <a href="/cart"><i class="fa-solid fa-cart-shopping">
              {{#if user}}
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" id="cart-count">{{cartCount}}</span>
              {{/if}}
              </i></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{#if user}}
              {{user.Name}}
              {{else}}
            <i class="fa-solid fa-user"></i>
            {{/if}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {{#if user}}
            <li><a class="dropdown-item" href="/profile">My Profile</a></li>
            <li><a class="dropdown-item" href="/myorders">My Orders</a></li>
            <li><a class="dropdown-item" href="/wishlist">My Wishlist</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/login">Logout</a></li>
            {{else}}
            <li><a class="dropdown-item" href="/login">Login</a></li>
            {{/if}}
          </ul>
        </li>
        
      </ul>
     
    </div>
 </div>
</nav>
</header>
