<section id="empty">
    <div class="container text-center mt-5">
        <div class="box">
            <img src="/images/empty.png" alt="">
        </div>
        <div class="text">
            <h4>Hey, it feels so light!</h4>
            <p>There is nothing in your cart. Let's add some items.</p>
        </div>
        <div class="btn">
            <a href="/wishlist"><button>ADD ITEMS FROM WISHLIST</button></a>
        </div>
    </div>
</section>