<section>
    <div class="container text-center">
        <div class="msg">
            <h4>Your order has been submitted successfully.</h4>
        </div>
        <div class="icon mt-4">
            <i class="fa-regular fa-circle-check"></i>
        </div>
        <div class="thanks mt-3">
            <h5>Thank you for your purchase!</h5>
        </div>
        <div class="links mt-5">
            <a href="/myorders" class="btn btn-danger">View Orders</a>
            <a href="/" class="btn btn-warning">Continue Shopping</a>
        </div>
    </div>
</section>

<style>
    .msg{
        margin-top: 200px;
    }
    .icon i{
        font-size: 5rem;
        color: green;
    }
    .links a{
        color: #fff;
        margin: 12px;
    }
    .links .btn-danger{
        background:transparent ;
        color: #bd2130;
    }
    .links .btn-warning{
        background: transparent;
        color: #ffc107;
    }
    .msg h3{
        font-weight: 500;
    }
</style>