<section id="signup">
    <div class="box">
        <div class="details">
            <h3>Register</h3>
            <form action="/signup" method="post">
            <input type="text" name="Name" placeholder="Enter your fullname"><br>
           
            <input type="text" name="Email" placeholder="Enter your email"><br>

            <input type="text" name="Number" placeholder="Enter your mobile number"><br>
           
            <input type="password" name="Password" placeholder="Password"><br>
            <button type="submit">Signup</button>
            </form>
            <div class="signup">
                <a href="/login">Already have an account?</a>
            </div>
        </div>
    </div>
</section>

